#update-container{
    width: 100vw;
    height: 50vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(35deg,green,blue,green);
}
#update-form{
    width: 65vw;
    height: 25vw;
    font-weight: 900;
    padding: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: rgba(247, 247, 247, 0.558);
    border-radius: 1vw;
    box-shadow: 2px 2px 2px black;
}
#update-heading{
    width: 27vw;
    height: 4vw;
    text-align: center;
    font-size: 3em;
    color: white;
    display: flex;
    background-color:transparent;
    justify-content: center;
    align-items: center;
}
#update-name,#update-email{
    width: 10vw;
    font-size: 1.6vw;
    background-color:transparent;
    height: 4vw         ;
}
#update-btn
{
width: 8vw;
color: white;
background-color: rgb(81, 80, 80);
margin-left: 8vw;
height: 2vw;
border-radius: 1vw;
}
#update-name-input,#update-email-input{
    width: 24vw;
    font-size: 1vw;
    border-radius: 1vw;
    height: 2.8vw;
    color: rgb(78, 76, 76);
    border: 2px solid white;
    background-color: rgb(245, 245, 245);
}